.menu{
    display:flex;
    flex-direction: row;
    height: 40 px;
    width: 100%;
    justify-content: space-around;
    background-color: grey;
    color: white;

}

.menu li {
    display:flex;
    padding:4px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;

}

.menu li a {
    color: white;
    font-style: normal;
}

section {

    padding: 1%;
  
    margin-bottom: 423px;
  
  }
  
   
  
  section .liens {
  
    display: flex;
  
    flex-direction: row;
  
    flex-wrap: wrap;
  
    width: 100%;
  
  }
  
   
  
  section .liens a, section .liens p {
  
    font-weight: bolder;
  
    padding: 1%;
  
  }
  
   
  
  section a {
  
    text-decoration: none;
  
    color: inherit;
  
  }
  
   
  
  h1 {
  
    font-size: xx-large;
  
    font-style: underline;
  
  }
  
   
  
  table {
  
    margin-top: 50px;
  
    table-layout: fixed;
  
    width: 100%;
  
    border-collapse: collapse;
  
    border: 1px solid black;
  
  }
  
   
  
  table th, td {
  
    margin-left: 10px;
  
    margin-right: 10px;
  
    text-align: center;
  
  }
  
   
  
  tbody tr:nth-child(odd) {
  
    background-color: whitesmoke;
  
  }
  
   
  
  tbody tr:nth-child(even) {
  
    background-color: white;
  
  }
  
   
  
  table a {
  
    text-decoration: none;
  
    color: red;
  
  }